:root {
    --colorFon: #2B4074;
    --colorNoFon: #F9F6E5;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 15px;
}

.buttonFon {
    background-color: var(--colorFon);
    font-size: 18px;
    padding: 15px 60px;
    color: white;
}

.buttonNoFon {
    background-color: var(--colorNoFon);
    font-size: 18px;
    padding: 5px 20px;
    color: var(--colorFon);
}

#page1 {
    background-color: var(--colorFon);
    color: white;
}

#page1Div1 {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#emblem {
    padding-left: 5%;
    height: 66px;
}

#buttonMenu {
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    margin: 0 10% 0 0;
}


#page1Div2 {
    height: 45vw;
    background-image: url("../images/group3.png");
    background-size: 100% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#page1-2-1 {
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 2vw;
}

.pagination {
    flex-direction: column;
    align-items: center;
    width: 70px;
}

.pagination > button {
    position: marker;
    width: 70px;
    height: 70px;
    font-size: 35px;
}

#page1-2-1 > h1 {
    font-size: 5vw;
}

#page1-2-1 > div {
    margin: 0 20% 0 20%;
}

#page1Div3 {
    height: 192px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#page1Div3 > div > p {
    font-size: 16px;
    margin: 0 5% 0 5px;
}

#page2 {
    background: #FFFFFF;
    margin: 15px 5px 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#page2Div1 {
    align-self: start;
    width: 50%;
    margin: 0 40px 20px 20px;
    font-size: 24px;
}

#page2Div1 > h1 {
    color: var(--colorFon);
    font-size: 48px;
}

p > a:hover {
    color: red;
}

#page2Div2 {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#page2Div2 > div {
    position: relative;
    width: 220px;
    height: 255px;
    text-align: center;
    border: 3px solid #FFFFFF;
    font-size: 16px;
}

#page2Div2 > div:hover {
    display: block;
    border: 3px solid var(--colorFon);
    color: #2B4074;
}

#page2Div2 > div:hover div.bottomDiv {
    display: block;
}

#page2Div2 > div:hover div.topDiv {
    top: 10px;
}

div.topDiv {
    position: absolute;
    top: 50px;
    width: 100%;
    color: #4A4A4A;
}

div.bottomDiv {
    display: none;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

#page3 {
    background-image: url("../images/section3/maskBac.png");
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page3Div1 {
    text-align: center;
}

.page3Div1 > p {
    color: #FFFFFF;
    font-size: 48px;
    margin-bottom: 20px;
}

.page3Div2 {
    text-align: center;
    margin-bottom: 20px;
}

.page3Div3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;

}

.page3Div3 > div {
    align-content: center;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--colorFon);
}

.buttonImg {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
}

img.buttonImgHover {
    position: absolute;
    top: 15px;
    left: 10px;
    opacity: 0;
    transition: .5s ease;
}

.buttonImg:hover .buttonImgHover {
    opacity: 1;
}

.page4 {
    background-color: #FFFFFF;
    background-size: auto 100%;
}

.page4 > div {
    float: left;
    width: 40%;
    margin: 4%;
}

.page4 > div p {
    font-size: 18px;
    color: #9B9B9B;
    margin: 0;
}

.page4 > div h1, svg {
    font-size: 48px;
    margin: 20px 0;
}

.page5 {
    background-color: #F9F6E5;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page5 > svg {
    margin-bottom: 20px;
}

.page5Div1 > p {
    font-size: 48px;
    margin-bottom: 15px;
}

.page5Div2 {
    margin-bottom: 100px;
}
/**********************************************************************************/
@media (max-width: 1200px) {
    #page2 {
        flex-direction: column;
    }

    #page2Div1 > h1 {
        text-align: center;
    }

    #page2Div1 {
        width: 80%;
        margin: 10px 0 10px 10%;
    }
}

@media (max-width: 900px) {
    .page4 > div button {
        float: none;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    #page1Div3 {
        flex-direction: column;
    }

    #page1Div3 > div p, h1, svg {
        text-align: center;
    }

    .page4 > div p {
        text-align: center;
    }

    .page4 {
        width: 90%;
        margin: 80px auto 40px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .page4 > div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}
